# Terraform working directory
**/.terraform/
**/.terraform.*

# Terraform state files
**/*.tfstate
**/*.tfstate.*

# Terraform variable files - may contain secrets
#**/*.tfvars
#**/*.tfvars.json

# Terraform plan files
**/*.tfplan
**/*.plan

# Terraform crash logs
**/crash.log
**/crash.*.log

# Terraform provider binaries
**/*.exe